:root {
    --main-bg-color: white;
    --main-second-color: black;
    --main-tier_color: rgb(245, 245, 245);
    --main-quater_color: rgb(53, 53, 53);
    --inactive-bg-color: rgb(240, 240, 240);
    --inactive-second-color: rgb(95, 95, 95);
    --error-color: red;
    --valid-color: rgb(0, 204, 0);
    --filter-main-color-svg: invert(0%) sepia(2%) saturate(906%) hue-rotate(227deg) brightness(121%) contrast(100%);
    --filter-second-color-svg: invert(100%) sepia(2%) saturate(906%) hue-rotate(227deg) brightness(121%) contrast(100%);
    --basic_shadow: 0 1px 2px rgba(0, 0, 0, .07), 0 2px 4px rgba(0, 0, 0, .03), 0 4px 8px rgba(0, 0, 0, .03), 0 8px 16px rgba(0, 0, 0, .03), 0 16px 32px rgba(0, 0, 0, .03), 0 32px 64px rgba(0, 0, 0, .03);
    background: var(--main-bg-color);
    color: var(--main-second-color);
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -moz-user-select: none;
    /* Firefox */
    -webkit-user-select: none;
    /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none;
    /* Internet explorer depuis la version 10 et Edge */
    user-select: none;
}

body {
    padding: 0;
    margin: 0;
}

#loading_container {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-color: var(--main-second-color);
    color: var(--main-bg-color);
    padding: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    z-index: 997;
    overflow: hidden;

}

#loading_container.wraped {
    max-height: 0vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.full_page_container {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 2rem);
    max-width: 1040px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(1, .1, .87, .71);
    height: auto;
    display: block;
}



#loading_text {
    margin: auto;
    font-size: xx-large;
    font-weight: 600;
}

#landing_page {
    max-width: 1040px;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.15, .59, .13, .99);
}

.landing_full_section {
    margin-top: 70px;
    display: flex;
    justify-content: center;

}


#landing_section_presentation {
    height: 500px;
}

#landing_section_presentation div {
    width: 48%;
}

.landing_paragraph_container {
    font-size: larger;
    font-weight: 600;
}

.landing_paragraph_container h1 {
    font-size: xx-large;
    margin-bottom: 0px;
}

.landing_paragraph_container p {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.paralax {
    position: relative;
}

#img_paralax_1_1,
#img_paralax_1_2,
#img_paralax_1_3 {
    position: absolute;
    transform-style: preserve-3d;
    transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
}

#img_paralax_1_1,
#img_paralax_1_2 {
    max-width: 200px;
}

#img_paralax_1_1 {
    top: -30px;
    left: 50px;
}

#img_paralax_1_2 {
    left: 310px;
    top: -10px;
}

#img_paralax_1_3 {
    position: absolute;
    max-height: 200px;
    top: 240px;
    left: 70px;
}

#landing_section_workflow {
    margin: auto;
    flex-direction: column;
    border: solid 2px rgb(230, 230, 230);
    border-radius: 2px;
    max-width: 100%;
}

#landing_section_workflow_nav {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: space-evenly;
    gap: 0px;
    border-bottom: solid 2px rgb(230, 230, 230);

}

.landing_workflow_nav_element {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 15px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    font-size: large;
    text-align: center;
    font-weight: 600;
    gap: 5px;
    border: none;
    border-right: solid 2px rgb(230, 230, 230);
    border-bottom: solid 0px var(--inactive-second-color);
    color: var(--inactive-second-color);
    transition: all 0.2s ease-in-out;
    flex: 1;
    background-color: var(--main-tier_color);
    cursor: pointer;
}

#landing_section_workflow_nav :last-child {
    border-right: none;
}

.landing_workflow_nav_element:hover {
    color: var(--main-second-color);
    background-color: var(--main-bg-color);
}

.landing_workflow_nav_element_active {
    border-bottom: solid 5px var(--main-second-color);
    opacity: 1;
    background-color: var(--main-bg-color);
    color: var(--main-second-color);
    background-color: var(--main-bg-color);
    cursor: initial;
}

.landing_workflow_nav_element p {
    margin: 0;
}

.landing_workflow_nav_element svg {
    transition: all 0.2s ease-in-out;
    max-width: 75px;
    transform: scale(0.9);
    opacity: 0.7;
}

.landing_workflow_nav_element:hover svg,
.landing_workflow_nav_element_active svg {
    transform: scale(1);
    opacity: 1;
}

.landing_workflow_nav_element_active svg {
    transform: scale(1);
}

#landing_section_workflow_content {
    padding: 70px;
    font-weight: 550;
    font-size: 21px;
    line-height: 1.5;
}

.landing_workflow_content_container_active {
    display: block;
}

.landing_workflow_content_container {
    display: none;
}

#landing_section_workflow_content h2 {
    margin-top: 0px;
}

#landing_section_workflow_content p {
    max-width: 750px;
}

.landing_workflow_content_video {
    box-shadow: var(--basic_shadow);
}

.landing_workflow_content_video img {
    max-width: 100%;
}

select:focus,
span:focus,
textarea:focus,
input:focus {
    outline: none;
}

textarea {
    resize: none;
    overflow: hidden;
    line-height: 1rem;
}

textarea::-webkit-scrollbar {
    width: 0.2em;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--main-second-color);
}

textarea::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.banner,
.lightMode_container,
.main_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_content_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1040px;
    margin: auto;
}

.banner {
    margin: 0;
    background-color: var(--main-second-color);
    color: var(--main-bg-color);
    justify-content: center;
    position: relative;
    z-index: 999;
}

.banner_container {
    width: 100%;
}

.main_title h1 {
    margin: 0.5rem;
}

.lightMode_container {
    justify-content: center;
}

#main_title_img {
    width: 2.5em;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.lightMode_svg {
    width: 1.2rem;
    margin: 0.2rem;
}

.user_logo {
    background-color: var(--main-bg-color);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
}

.user_logo svg {
    width: 1.5rem;
}

.invert_svg {
    filter: var(--filter-second-color-svg);
}

.basic_toggle_input[type=checkbox],
.invert_toggle_input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}

.basic_toggle_label,
.invert_toggle_label {
    cursor: pointer;
    text-indent: -9999px;
    width: 1.6rem;
    height: 0.8rem;
    background: var(--main-second-color);
    display: block;
    border-radius: 100px;
    position: relative;
    border: solid 0.13rem;
    border-color: var(--main-bg-color);
}

.basic_toggle_label:after,
.invert_toggle_label:after {
    content: '';
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
    width: 0.6rem;
    height: 0.6rem;
    background: var(--main-bg-color);
    border-radius: 90px;
    transition: 0.3s;
}

.basic_toggle_input:checked+.basic_toggle_label {
    background: var(--main-second-color);
}

.basic_toggle_input:checked+.basic_toggle_label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.invert_toggle_input:checked+.invert_toggle_label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.invert_toggle_label {
    background: var(--main-tier_color);
    border-color: var(--main-second-color);
}

.invert_toggle_label:after {
    background: var(--main-second-color);
}

.invert_toggle_input:checked+.invert_toggle_label {
    background: var(--valid-color);
}

.invert_toggle_label:checked+.invert_toggle_label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.invert_toggle_input:checked~.toggle_title {
    opacity: 1;
}

.basic_toggle_label:active:after {
    width: 1rem;
}

.section {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 2rem;
    background-color: var(--main-bg-color);
    border-radius: 7px;
    box-shadow: 5px 5px 1px var(--main-second-color);
    border: solid 2px var(--main-second-color);
}

.mid_section {
    flex: 1;
    min-width: 200px;
}

.full_section {
    width: 100%;
    align-items: center;
}

#title_devis {
    border: 0px;
    box-shadow: none;
    padding: 0px;
    flex-direction: initial;
    gap: 10px;
}

#devis_title_container {
    flex: 3;
}

#devis_number_container {
    flex: 1;
}

.main_color_svg {
    filter: var(--filter-main-color-svg)
}

#section_setTitle {
    margin-top: 2rem;
}

.section * {
    margin-top: 1rem;
}

.section_title * {
    margin: 0;
}

.section_title {
    margin: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.section_title_icon {
    width: 1.2em;
    margin-right: 0.2em;
}

.section>.input_container {
    position: relative;
    display: grid;
}

.section_select_template {
    color: var(--main-second-color);
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 0.3rem;
    width: fit-content;
    border: 1px solid var(--main-second-color);
    font-size: 0.9rem;
    border-radius: 7px;
    background-color: var(--main-bg-color);
}

.textarea * {
    margin: 0;
}

.input_title {
    position: absolute;
    left: 10px;
    background-color: var(--main-bg-color);
    padding: 1px;
    font-size: 1rem;
    top: -0.5rem;
    transition: all 0.2s;
    z-index: 12;
}

.input_input {
    padding: 0.3rem;
    background: transparent;
    box-sizing: border-box;
    border: 3px solid var(--main-second-color);
    width: 100%;
    border-radius: 7px;
    color: var(--main-second-color);
    font-size: 1.2rem;
    z-index: 11;
    background-color: var(--main-bg-color);
    height: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section>.input_container>.input_input:focus+.input_title,
.section>.input_container>.input_input:valid+.input_title,
.textarea:not(:empty)+.input_title {
    top: -1.5rem;
    font-size: 0.9rem;
}

.textarea[contenteditable]:empty::before {
    content: "";
    color: gray;
}

.textarea {
    display: block;
    overflow: hidden;
    resize: none;
}

.help_container,
.obligatory_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    right: 0.5rem;
    top: -1.7rem;
    z-index: 14;
}

.obligatory_container {
    right: 2rem;
    top: -2.7rem;
}

.help_container * {
    margin: 0;
}

.input_info_svg {
    width: 1rem;
    position: relative;
    bottom: -1.5rem;
}

.speech,
.invert_speech {
    position: absolute;
    display: none;
    transition: opacity 0.2s display 0s;
    border: solid 2px var(--main-bg-color);
    /* (A1) FONT & COLORS */
    font-size: 0.8em;
    color: var(--main-bg-color);
    background-color: var(--main-second-color);

    /* (A2) DIMENSIONS */
    padding: 0.5rem;
    border-radius: 10px;
    width: 8rem;
    margin-bottom: 0px;
    bottom: 0rem;
}

.invert_speech {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 90%;
    color: var(--main-second-color);
    background-color: var(--main-bg-color);
    border-color: var(--main-second-color);
    height: fit-content;
    font-size: 15px;
}

.invert_speech label {
    margin-top: 0px;
}

/* (B) USE ::AFTER TO CREATE THE "CALLOUT" */
.speech::after,
.invert_speech::before {
    display: block;
    width: 0;
    content: "";
    border: 10px solid transparent;
    position: absolute;
    border-top-color: var(--main-second-color);
    border-bottom: 0;
    bottom: -10px;
    left: calc(50% - 10px);
}

.invert_speech::before {
    transform: rotate(180deg);
    bottom: 100%;
    border-top-color: var(--main-bg-color);
}

.input_info_svg:hover+.speech,
.help_container:hover .speech {
    display: block;
}


.user_logo:hover .invert_speech,
.invert_speech:hover {
    display: flex;    
}

.invert_speech .input_input {
    border: 2px solid var(--main-second-color);
}

.invert_speech .input_title {
    font-size: 13px;
}

.invert_speech .input_container > .input_input:valid + .input_title,
.invert_speech .input_container > .input_input:focus + .input_title {
    font-size: 11px;
    top: -1.1rem;
}

.invert_speech .input_container {
    margin-top: 5px;
}

#display_pseudo, #button_unsign {
    display: none;
}

.error_container {
    height: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--error-color);
    padding: 0.5rem;
    color: white;
    margin: 0;
    padding-top: 0rem;
    position: relative;
    top: -1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 0.8em;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.error_container * {
    margin: 0;
}

.error_img {
    width: 2rem;
    height: 2rem;
    margin-left: 0.8rem;
}

.input_phone_container * {
    margin: 0;
}

.input_phone_container {
    border: solid 3px var(--main-second-color);
    background-color: var(--main-bg-color);
    border-radius: 10px;
    position: relative;
    display: flex;
    overflow: hidden;
    background-color: var(--main-bg-color);
    z-index: 10;
}

.prefix_number {
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 0.2rem;
    border: none;
    border-right: solid 2px var(--main-second-color);
    background-color: var(--main-bg-color);
    color: var(--main-second-color);
    z-index: 11;
}

.input_phone_number {
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 0.2rem;
    border: none;
    background-color: var(--main-bg-color);
    color: var(--main-second-color);
    z-index: 12;
}

.devis_lines_container {
    width: 100%;
    margin: 0;
}

.devis_line,
.placeholder,
.names_devis_columns {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.devis_line:first-child {
    margin: 0px;
}

.names_devis_columns {
    font-size: 1.2rem;
    font-weight: 600;
}

.placeholder {
    background-color: gray;
    border-radius: 10px;
    border: solid 2px var(--main-second-color);
    border-style: dashed;
    opacity: 0.5;
}

.devis_line * {
    margin: 0;
}

.devis_description,
.name_description {
    width: 60%;
}

.devis_quantity,
.name_qty {
    width: 10%;
}

.devis_price,
.devis_price_total,
.name_prix,
.name_total {
    width: 15%;
}

.devis_price_total {
    background-color: var(--main-tier_color);
}

.name_img {
    width: 1.2rem;
    margin-right: 0.5%;
}

.svg_devis_line_dots {
    height: 1.8rem;
    filter: var(--filter-main-color-svg);
    margin-left: 1%;
    margin-right: 1.2%;
    cursor: grab;
}

.devis_line_buttons_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 1rem;
    width: fit-content;
    border-radius: 100%;
}

.devis_line_buttons_container:hover {
    background-color: var(--main-second-color);
}

.devis_add_button_icon {
    width: 2rem;
    margin: 0;
    cursor: pointer;
}

.devis_add_button_icon:hover {
    filter: var(--filter-second-color-svg);
}

.devis_trash {
    display: none;
    width: 2rem;
    margin: 0;
}

.section_date {
    min-width: 160px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: white;
    padding: 2px;
    cursor: pointer;
    border-radius: 3px;
}

.section_date>.input_container {
    width: auto;
}

.section_price {
    max-width: 250px;
}

.all_prices_container {
    display: flex;
}

.display_flex_center *,
.display_flex_start * {
    margin: 0px;
}

.price_indicator_container {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.price_indicator {
    font-weight: 700;
    font-size: 25px;
}

#price_indicator_ttc {
    text-decoration: line-through;
}

#tva_container {
    opacity: 0.5;
}

.display_flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.display_flex_start {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.toggle_title {
    opacity: 0.6;
}

.hide_input {
    overflow: hidden;
    margin-top: 0;
    height: 0;
}

#canvas1 {
    width: 100%;
    height: 100%;
    min-height: 100px;
    background-color: var(--main-tier_color);
    border-radius: 5px;
}

.button_basic,
.button_basic_big {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: nowrap;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    text-align: center;
    border-radius: 999px;
    background-color: var(--main-second-color);
    border: solid 3px var(--main-second-color);
    color: var(--main-bg-color);
    font-weight: 600;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.1s ease-out;
    text-decoration: none;
    font-size: medium;
}

.button_basic_big {
    font-size: larger;
    margin-top: 20px;
}

.button_basic * {
    margin: 0;
}

.button_basic>.button_svg {
    width: 15px;
}

.button_basic_big>.button_svg {
    width: 28px;
}

.button_basic:hover,
.button_basic_big:hover {
    transform: scale(1.05);
}

.button_basic:active,
.button_basic_big:active {
    transform: scale3d(1, 0.9, 1);
}

.button_basic_invert {
    font-size: 13px;
    background-color: var(--main-bg-color);
    border: solid 1px var(--main-second-color);
    color: var(--main-second-color);
}

.noClick {
    pointer-events: none;
}

#toggle_tva {
    display: none;
}

footer {
    margin: 0;
    margin-top: 50px;
    background-color: var(--main-second-color);
    color: var(--main-bg-color);
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    flex-wrap: wrap;
    position: relative;
    z-index: 998;
}

footer * {
    margin: 0;
}

footer p {
    font-size: 12px;
    white-space: nowrap;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
}

.align_footer {
    display: flex;
    align-items: center;
    gap: 4px;
}

.svg_footer {
    width: 16px;
    margin: 0;
}

.footer_logos {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer_section_content {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.footer_horizontal_line {
    background-color: var(--main-bg-color);
    width: 3px;
}

#absolute_to_generate {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 0;
    width: 560px;
    display: block;
    font-size: 11px;
    z-index: 99;
    padding: 20px;
    display: none;
}

.header_to_generate {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}

#header_to_generate_title {
    font-weight: bold;
    font-size: 24px;
}

#header_to_generate_subtitle {
    font-weight: bolder;
    font-size: 14px;
}

.section_to_generate_title {
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    margin-bottom: 5px;
}

.text_end {
    text-align: end;
}

.section_to_generate_container {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    margin-bottom: 10px;
}

.section_to_generate {
    border: 1px solid #202020;
    padding: 10px;
    flex: 1;
    border-radius: 5px;
    overflow: hidden;
    height: fit-content;
}

.section_to_generate_label {
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 5px;
}

#section_devis_to_generate {
    padding: 0;
}

.section_devis_to_generate_line {
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: solid 1px black;
    gap: 5px;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.section_devis_to_generate_line:last-child {
    border-bottom: 0px;
}

.section_devis_to_generate_line:nth-child(even) {
    background: rgb(247, 247, 247);
}


.section_devis_to_generate_line div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.section_devis_to_generate_line_description {
    flex: 5;
    border-right: solid 1px black;
    padding-left: 10px;
}

.section_devis_to_generate_line_quantity {
    flex: 1;
    border-right: solid 1px black;
}

.section_devis_to_generate_line_unit_price {
    flex: 1;
    border-right: solid 1px black;
}

.section_devis_to_generate_line_total_price {
    flex: 1;
}

#section_devis_to_generate_line_labels {
    font-weight: bold;
    border-bottom: solid 2px black;
}

#section_total_ttc {
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 13px;
}

#section_to_generate_signature {
    width: 100%;
    height: 50px;
}

#section_to_generate_info_paiement {
    background-color: rgb(230, 230, 230);
    position: relative;
    width: 560px;
    left: -20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: none;
    justify-content: space-around;
    align-items: center;
}

.section_to_generate_info_paiement_iban_title {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
}

#section_to_generate_info_paiement_iban_container {
    display: none;
    gap: 40px;
}

.section_to_generate_label_paiement {
    font-weight: bold;
}

#section_to_generate_internet_paiement_button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    border-radius: 100px;
    font-size: 12px;
    font-weight: bold;
    display: none;
}

#section_devis_to_generate_tva_exempt_text {
    font-size: 9px;
    text-align: center;
}

.section_to_generate_bonus_element {
    display: none;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: 1rem;
    }

    .landing_paragraph_container {
        text-align: center;
    }

    .landing_paragraph_container h1 {

        font-size: xx-large;
    }

    .button_basic_big {
        font-size: large;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .button_basic_big>.button_svg {
        width: 23px;
    }

    .landing_full_section {
        margin: 0px;
    }

    #landing_section_presentation {
        height: auto;
    }

    #landing_section_presentation>.paralax {
        display: none;
    }

    #landing_section_presentation>.landing_paragraph_container {
        width: auto;
    }

    #landing_section_workflow_nav {
        height: 65px;
    }

    .landing_workflow_nav_element p {
        display: none;
    }

    #landing_section_workflow_content {
        padding: 30px;
        font-size: 16px;
    }

    #landing_section_workflow_content h2 {
        font-size: large;

    }

    .full_page_container {
        gap: 1.2rem;
    }

    .section {
        padding: 1rem;
    }

    #section_setTitle {
        margin-top: 0.5rem;
    }

    #main_title_img {
        width: 1.5rem;
    }

    .section_select_template {
        font-size: 0.6rem;
    }

    .input_title {
        font-size: 0.7rem;
    }

    .section>.input_container>.input_input:focus+.input_title,
    .section>.input_container>.input_input:valid+.input_title,
    .textarea:not(:empty)+.input_title {
        top: -0.8rem;
        font-size: 0.6rem;
        padding: 0px;
    }

    .textarea:not(:empty)+.input_title {
        font-size: 0.7rem;
    }

    .speech {
        font-size: 0.65rem;
    }

    .error_container {
        font-size: 0.6rem;
    }

    .prefix_number {
        font-size: 0.8rem;
    }

    .input_phone_number,
    .prefix_number {
        font-size: 0.8rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }

    .input_phone_container {
        border: solid 2px var(--main-second-color);
    }

    .name_description {
        width: 65%;
    }

    .names_devis_columns {
        font-size: 0.8rem;
        margin-top: 5px;
        margin-bottom: 3px;
    }

    .names_devis_columns * {
        margin: 0px;
    }

    .devis_line {
        gap: 0.3rem;
    }

    .devis_add_button_icon {
        width: 25px;
    }

    .price_indicator {
        font-size: 18px;
    }

    footer {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 10px;
    }

    footer p {
        font-size: 10px;
    }

    .footer_title {
        font-size: 12px;
    }

    .input_input {
        font-size: 0.8rem;
        border: 2px solid var(--main-second-color);
    }

    .input_container,
    .display_flex_start {
        margin: 0.2rem;
    }

    .display_flex_start {
        gap: 0.5rem;
    }

    .toggle_title {
        font-size: 0.8rem;
    }

    .button_basic {
        padding: 1px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .button_svg {
        width: 12px;
    }

    .button_basic div {
        font-size: 12px;
    }

    .basic_toggle_label,
    .invert_toggle_label {
        width: 1.2rem;
        height: 0.6rem;
        border: solid 2px;
    }

    .basic_toggle_label:after,
    .invert_toggle_label:after {
        top: 0.09rem;
        left: 0.09rem;
        width: 0.4rem;
        height: 0.4rem;
    }

    .lightMode_svg {
        width: 1rem;
    }

    .user_logo svg {
        width: 1.2rem;
    }

    .svg_devis_line_dots {
        margin-right: 1.4%;
    }

    .footer_logos {
        gap: 25px;
    }

    .svg_footer {
        width: 30px;
    }

}

.input_error {
    border-color: var(--error-color);
}

.input_valid {
    border-color: var(--valid-color);
}